<div class="container">
    <!-- ABOUT SECTION -->
    @Html.Partial("_AboutSectionPartial")
    <!-- END ABOUT SECTION -->
    <!-- PRELEGENCI SECTION -->
    @Html.Partial("_ServicesSectionPartial")
    <!--END SERVICES SECTION -->
    <!-- AGENDA SECTION -->
    @Html.Partial("_AgendaSectionPartial")
    <!-- END AGENDA SECTION -->
    <!-- WHAT'S NEW SECTION -->
    @Html.Partial("_WhatsNewSectionPartial")
    <!-- END WHAT'S NEW SECTION -->
    <!-- SPONSORS SECTION -->
    @Html.Partial("_SponsorsSectionPartial")
    <!-- END SPONSORS SECTION -->
    <!-- STAFF SECTION -->
    @Html.Partial("_StaffSectionPartial")
    <!-- END STAFF SECTION -->
    <!-- FOOTER SECTION -->
    <section id="footer">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 font-14">
                &copy; reset.ath.bielsko.pl <br />
                Wszystkie prawa zastrzeżone.
            </div>
        </div>
        <!--./row-->
    </section>
    <!--END FOOTER SECTION -->
</div>
