@model Itad2015.ViewModels.Home.IndexWorkshopGuestModel

@using (Html.BeginForm("Register", "WorkshopGuest", FormMethod.Post, new { id = "RegisterWorkshopForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.RegisterWorkshopGuestViewModel.Size, new { id = "sizeInput", aria_required = true, aria_invalid = false, aria_describedby = "RegisterWorkshopGuestViewModel_Size-error" })
    @Html.HiddenFor(x => x.RegisterWorkshopGuestViewModel.WorkshopId, new { id = "workshopId", aria_required = true, aria_invalid = false, aria_describedby = "RegisterWorkshopGuestViewModel_WorkshopId-error" })
    
    <div id="inputStage">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">
                <p class="requiredText">Pola oznaczone * są wymagane</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.RegisterWorkshopGuestViewModel.FirstName, new { @class = "itad-required-input", placeholder = "Imię*" })
                    @Html.ValidationMessageFor(x => x.RegisterWorkshopGuestViewModel.FirstName, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>

            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.RegisterWorkshopGuestViewModel.LastName, new { @class = "itad-required-input", placeholder = "Nazwisko*" })
                    @Html.ValidationMessageFor(x => x.RegisterWorkshopGuestViewModel.LastName, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>
        </div>

        <div class="row margin-botom-20">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.RegisterWorkshopGuestViewModel.Email, new { @class = "itad-required-input", placeholder = "Adres email*" })
                    @Html.ValidationMessageFor(x => x.RegisterWorkshopGuestViewModel.Email, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.RegisterWorkshopGuestViewModel.SchoolName, new { @class = "itad-required-input", placeholder = "Nazwa szkoły*" })
                    @Html.ValidationMessageFor(x => x.RegisterWorkshopGuestViewModel.SchoolName, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextAreaFor(x => x.RegisterWorkshopGuestViewModel.Info, new { style = "", placeholder = "Skąd dowiedziałeś się o konferencji IT Academic Day?" })
                </div>
            </div>
        </div>

        <p class="text-center workshopText">Wybierz warsztat, w którym chciałbyś/chciałabyś uczestniczyć:</p>
        <div class="row margin-botom-20">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span id="activeWorkshop">Wybierz warsztat</span> &nbsp;
                        <span><span class="caret"></span></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        @foreach (var item in Model.WorkshopDropdownList)
                        {
                            <li><a href="" data-workshop-id="@item.Id">@item.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @foreach (var item in Model.WorkshopDropdownList)
                {
                    <div class="row workshop-container" data-workshop-id="@item.Id" style="display: none">
                        <div class="col-xs-5 col-xs-offset-2 ">
                            <p><strong>Prowadzący: @item.TutorName<br/>Liczba wolnych miejsc: @item.LeftParticipants</strong>
                            </p>
                            <p>@item.Description</p>
                        </div>
                        <div class="col-xs-4"><img class="img-responsive col-xs-6 col-xs-offset-3" src="@Url.Content(item.ImgPath + "_small.png")" /></div>
                    </div>
                }
                @Html.ValidationMessageFor(x=>x.RegisterWorkshopGuestViewModel.WorkshopId, null, new { @class = "validation-itad bk-red" })
            </div>
        </div>
    </div>
    @Html.Partial("_ItadShirtsPartial")

    @Html.ValidationMessageFor(x=>x.RegisterWorkshopGuestViewModel.Size, null, new { @class = "validation-itad bk-red center" })

    @Html.Partial("_RegisterStagePartial")
}