@model Itad2015.ViewModels.Home.IndexWorkshopGuestModel

@using (Html.BeginForm("Register", "WorkshopGuest", FormMethod.Post, new { id = "RegisterWorkshopForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.RegisterWorkshopGuestViewModel.Size, new { id = "sizeInput", aria_required = true, aria_invalid = false, aria_describedby = "RegisterWorkshopGuestViewModel_Size-error" })
    @Html.HiddenFor(x => x.RegisterWorkshopGuestViewModel.WorkshopId, new { id = "workshopId", aria_required = true, aria_invalid = false, aria_describedby = "RegisterWorkshopGuestViewModel_WorkshopId-error" })
    
    <div id="inputStage">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.RegisterWorkshopGuestViewModel.FirstName, new { @class = "itad-required-input", placeholder = "Imię" })
                    @Html.ValidationMessageFor(x => x.RegisterWorkshopGuestViewModel.FirstName, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>

            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.RegisterWorkshopGuestViewModel.LastName, new { @class = "itad-required-input", placeholder = "Nazwisko" })
                    @Html.ValidationMessageFor(x => x.RegisterWorkshopGuestViewModel.LastName, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>
        </div>

        <div class="row margin-botom-20">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.RegisterWorkshopGuestViewModel.Email, new { @class = "itad-required-input", placeholder = "Adres email" })
                    @Html.ValidationMessageFor(x => x.RegisterWorkshopGuestViewModel.Email, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.RegisterWorkshopGuestViewModel.SchoolName, new { @class = "itad-required-input", placeholder = "Nazwa szkoły" })
                    @Html.ValidationMessageFor(x => x.RegisterWorkshopGuestViewModel.SchoolName, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextAreaFor(x => x.RegisterWorkshopGuestViewModel.Info, new { style = "", placeholder = "Skąd dowiedziałeś się o konferencji IT Academic Day?" })
                </div>
            </div>
        </div>

        <p class="text-center workshopText">Wybierz warsztat, w którym chciałbyś/chciałabyś uczestniczyć:</p>
        <div class="row margin-botom-20">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span id="activeWorkshop">Wybierz warsztat</span> &nbsp;
                        <span><span class="caret"></span></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        @foreach (var item in Model.WorkshopDropdownList)
                        {
                            <li><a href="" data-workshop-id="@item.Id">@item.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @foreach (var item in Model.WorkshopDropdownList)
                {
                    <div class="row workshop-container" data-workshop-id="@item.Id" style="display: none">
                        <div class="col-xs-5 col-xs-offset-2">
                            <p><strong>Prowadzący: @item.TutorName<br/>Liczba wolnych miejsc: @item.LeftParticipants</strong>
                            </p>
                            <p>@item.Description</p>
                        </div>
                        <div class="col-xs-4"><img class="img-responsive col-xs-6 col-xs-offset-3" src="@Url.Content(item.ImgPath + "_small.png")" /></div>
                    </div>
                }
                @Html.ValidationMessageFor(x=>x.RegisterWorkshopGuestViewModel.WorkshopId, null, new { @class = "validation-itad bk-red" })
            </div>
        </div>
    </div>
    <div id="shirtTypeStage">
        <p class="text-center">Wybierz typ i rozmiar koszulki:</p>
        <div id="TShirtType" class="row margin-botom-20 ">
            <div class="col-xs-6 col-sm-4 col-sm-offset-2">
                <div class="itad-girl pull-right itad-gender"></div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="itad-guy itad-gender"></div>
            </div>
        </div>
    </div>
    <div class="row margin-botom-20 size-options" id="shirtSizeStageFemale">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="col-xs-2 col-xs-offset-1 col-sm-offset-1 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-s" data-size-code="1"></div></div>
            <div class="col-xs-2 col-xs-offset-2 col-sm-offset-0  no-p-border-but-bottom"><div class="itad-shirt itad-shirt-m" data-size-code="2"></div></div>
            <div class="col-xs-2 col-sm-offset-0 col-xs-offset-2 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-l" data-size-code="3"></div></div>
            <div class="col-xs-2 col-xs-offset-3 col-sm-offset-0 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-xl" data-size-code="4"></div></div>
            <div class="col-xs-2 col-sm-offset-0  col-xs-offset-2 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-xxl" data-size-code="5"></div></div>
        </div>
    </div>
    <div class="row margin-botom-20 size-options" id="shirtSizeStageMale">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="col-xs-2 col-xs-offset-1 col-sm-offset-1 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-s" data-size-code="6"></div></div>
            <div class="col-xs-2 col-xs-offset-2 col-sm-offset-0  no-p-border-but-bottom"><div class="itad-shirt itad-shirt-m" data-size-code="7"></div></div>
            <div class="col-xs-2 col-sm-offset-0 col-xs-offset-2 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-l" data-size-code="8"></div></div>
            <div class="col-xs-2 col-xs-offset-3 col-sm-offset-0 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-xl" data-size-code="9"></div></div>
            <div class="col-xs-2 col-sm-offset-0  col-xs-offset-2 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-xxl" data-size-code="10"></div></div>
        </div>
    </div>
    @Html.ValidationMessageFor(x=>x.RegisterWorkshopGuestViewModel.Size, null, new { @class = "validation-itad bk-red center" })
    <div id="registerBtnStage">
        <div class="checkbox margin-botom-20">
            <label><input type="checkbox" name="Accepted">Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do finalizacji procesu rejestracji na konferencje IT Academic Day w Bielsku-Białej (zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych Osobowych; tekst jednolity: Dz. U. z 2002r. Nr 101, poz. 926 ze zm.).</label>
        </div>
        <div class="validation-itad bk-red serverErrorsContainer center"></div>

        <a class="btn btn-primary btn-itad col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 disabled">
            REJESTRUJ
        </a>
    </div>
}