@model Itad2015.ViewModels.RegisterWorkshopGuestViewModel

@using (Html.BeginForm("Register", "WorkshopGuest", FormMethod.Post, new { id = "RegisterWorkshopForm" }))
{
    @Html.HiddenFor(x => x.Size, new { id = "sizeInput", aria_required = true, aria_invalid = false, aria_describedby = "RegisterWorkshopGuestViewModel_Size-error" })
    @Html.HiddenFor(x => x.WorkshopId, new { id = "workshopId", aria_required = true, aria_invalid = false, aria_describedby = "RegisterWorkshopGuestViewModel_WorkshopId-error" })

    <section data-stage-id="2">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <p class="bk-red"><b>UWAGA! Warsztaty są przeznaczone tylko dla uczniów szkół średnich.</b></p>
                <p class="requiredText">Pola oznaczone * są wymagane</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "itad-required-input", placeholder = "Imię*", id = "registerInput_Name" })
                    @Html.ValidationMessageFor(x => x.FirstName, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>

            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.LastName, new { @class = "itad-required-input", placeholder = "Nazwisko*", id = "registerInput_LastName" })
                    @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>
        </div>

        <div class="row margin-botom-20">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Email, new { @class = "itad-required-input", placeholder = "Adres email*", id = "registerInput_Email" })
                    @Html.ValidationMessageFor(x => x.Email, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.SchoolName, new { @class = "itad-required-input", placeholder = "Nazwa szkoły*" })
                    @Html.ValidationMessageFor(x => x.SchoolName, null, new { @class = "validation-itad bk-red" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    @Html.TextAreaFor(x => x.Info, new { style = "height:60px", placeholder = "Skąd dowiedziałeś się o konferencji IT Academic Day?" })
                </div>
            </div>
        </div>
        @Html.Action("WorkshopRegisterListSection", true)
        @Html.ValidationMessageFor(x => x.WorkshopId, null, new { @class = "validation-itad bk-red text-center" })
    </section>
    @Html.Partial("_ItadShirtsPartial")

    @Html.ValidationMessageFor(x => x.Size, null, new { @class = "validation-itad bk-red center" })

    @Html.Partial("_RegisterStagePartial")
}