@model IEnumerable<Itad2015.Areas.Admin.ViewModels.WorkshopGuestViewModel>

@{
    ViewBag.Title = "WorkshopGuestsList";
}

@foreach (var item in Model)
{
    if (item.Guests.Count > 0)
    {
        <h3 class="text-center">@item.Title</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var guest in item.Guests)
                {
                    <tr>
                        <td>@guest.FirstName</td>
                        <td>@guest.LastName</td>
                        <td>@guest.Email</td>
                        <td>@Html.ActionLink("Usuń z warsztatu", "DeleteGuest", "WorkshopGuest", new { id = guest.WorkshopGuestId }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            </tbody>
        </table>
    }

}

