@model Itad2015.ViewModels.Email.WorkshopInfoEmail

<h1 style="font-family: 'Sinkin Sans', 'Open Sans', 'Segoe UI', sans-serif">Cześć @Model.Name!</h1>

<p style=" font-family: 'Sinkin Sans', 'Open Sans', 'Segoe UI', sans-serif; font-size: 18px">
    W związku z tym, że bierzesz udział w warsztatach na tegorocznym <b>IT Academic Day</b> w Bielsku-Białej, chcielibyśmy przekazać Ci kilka
    ważnych informacji.
</p>
<p style="font-family: 'Sinkin Sans', 'Open Sans', 'Segoe UI', sans-serif;font-size: 20px">
    Nazwa warsztatu, w którym bierzesz udział: <b>@Model.WorkshopName</b><br/>
    Godzina rozpoczęcia warsztatu: <b>@Model.WorkshopHour</b><br/>
    Budynek oraz sala: <b>@Model.WorkshopRoom</b><br/>
    Prowadzący: <b>@Model.TutorName</b>
</p>
<p style=" font-family: 'Sinkin Sans', 'Open Sans', 'Segoe UI', sans-serif; font-size: 18px">
    Serdecznie zapraszamy do wzięcia udziału w krótkim, oficjalnym <b>rozpoczęciu konferencji</b>, na którym również przekażemy informacje dotyczące organizacji warsztatów i dnia konferencyjnego.<br/>
    <b>Oficjalne rozpoczęcie odbędzie się o 08:45</b>.
</p>
<p style=" font-family: 'Sinkin Sans', 'Open Sans', 'Segoe UI', sans-serif; font-size: 18px">
    W razie pytań prosimy o kontakt na nasz adres email (reset@ath.bielsko.pl).
</p>