@model Itad2015.ViewModels.Email.WorkshopGuestRegisterEmail

<h1 style="text-align: center;font-family:'Sinkin Sans','Open Sans','Segoe UI', sans-serif">Cześć @Model.FirstName!</h1>
<p style="text-align: center;font-family:'Sinkin Sans','Open Sans','Segoe UI', sans-serif;font-size:18px">
    Dziękujemy za rejestrację na <b>ITAD2015</b>!
</p>
<p style="text-align: center;font-family:'Sinkin Sans','Open Sans','Segoe UI', sans-serif;font-size:18px">
    <b>Warsztat </b>jaki wybrałeś: <b>@Model.WorkshopTitle</b> 
</p>
<div style="margin: auto; width: 40%;border-bottom:1px solid #50efff"></div>
<br /><br />
<div style="width: 150px; height: 156px; margin: auto">
    @Html.EmbedImage("~/Content/images/Mail/register.png")
</div>
<p style="text-align: center;font-family:'Sinkin Sans','Open Sans','Segoe UI', sans-serif;font-size:18px">
    Dla usprawnienia rejestracji w dniu konferencji, w tym roku będzie<br /> miała ona inny przebieg. <br />
    <b>Tydzień przed konferencją</b> prześlemy Ci Twój <b>QR kod</b> - prosimy <b>zabierz go</b> ze sobą na ITAD2015 - w <b>dowolnej formie</b> :)
</p>
<div style="margin: auto; width: 40%;border-bottom:1px solid #50efff"></div>
<p style="text-align: center;font-family:'Sinkin Sans','Open Sans','Segoe UI', sans-serif;font-size:18px">
    czekamy na Ciebie <b>20 listopada 2015</b> <br />
    roku na <b>Akademii Techniczno-Humanistycznej</b> <br />
    w Bielsku-Białej.
</p>

<a style="text-decoration: none" href="@Url.Action("ConfirmRegistration", "Home", new {id = Model.Id, confirmationCode = Model.ConfirmationHash},"http")">
    <div style="width: 100px; height: 100px; margin: auto">
        @Html.EmbedImage("~/Content/images/Mail/tick.png")
    </div>
    <p style="text-align: center;font-family:'Sinkin Sans','Open Sans','Segoe UI', sans-serif;font-size:18px; color:#50efff">
        <b>POTWIERDŻ SWOJĄ REJESTRACJĘ</b>
    </p>
</a>

<a style="text-decoration: none; margin-top:50px" href="@Url.Action("CancelRegistration","Home", new {id=Model.Id, cancelationCode = Model.CancelationHash},"http")">
    <div style="width: 50px; height: 50px; margin: auto">
        @Html.EmbedImage("~/Content/images/Mail/cancel.png")
    </div>
    <p style="text-align: center;font-family:'Sinkin Sans','Open Sans','Segoe UI', sans-serif;font-size:12px; color:#808080">
        <b>JEŚLI Z JAKICHKOLWIEK PRZYCZYN NIE JESTEŚ W STANIE DOTRZEĆ NA KONFERENCJĘ, PROSIMY, ANULUJ SWOJĄ REZERWACJĘ</b>
    </p>
</a>
